    START
main_entry:
    PUSHN 3
    ALLOC 11
    STOREG 0
    PUSHI 3
    STOREG 1
    PUSHI 2
    STOREG 2
    PUSHG 0
    PUSHG 1
    PUSHG 2
    MUL
    PUSHI 1
    ADD
    PUSHI 99
    STOREN
    PUSHS "Value at calculated index 7 should be 99: "
    WRITES
    PUSHG 0
    PUSHG 1
    PUSHG 2
    MUL
    PUSHI 1
    ADD
    LOADN
    STRI
    WRITES
    PUSHS "
"
    WRITES
    STOP
